    .main_frame_body_part{
        /* margin: 10px 30px; */
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80vw;
        border-radius: 20px;
        margin-bottom: 40px;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    }

    .main_frame_body_part .para{
        font-size: 17px;
        font-size: 600;
        position: relative;
        top: -20px;
    }

    .body_parts{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .color{
        background: rgb(255, 255, 255);
    }

    .main_frame_body_part .body_parts .item_item{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 20px;
        width: auto;
        height: auto;
        background: rgba(88, 87, 87, 0.682);
        padding: 5px;
        border-radius: 10px;
        cursor: pointer;
        transition: transform 0.1s ease;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    }

    .main_frame_body_part .body_parts .item_item img{
        width: 330px;
        height: 330px;
        border-radius: 10px;
    }

    .main_frame_body_part .body_parts .item_item span{
        font-weight: 700;
        font-size: 22px;
    }

    .main_frame_body_part .body_parts .item_item:hover{
        transform: translateY(-10px);
        z-index: 0;
    }