@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Open+Sans:ital,wght@1,500&display=swap');

#display_frame{
    display:flex;
    flex-direction:column;
    /* justify-content:center; */
    align-items:center; 
    margin-bottom:0;
    width:100%;
    min-height:600px;
    height:auto;
    padding:40px 0;
    background:rgb(70 73 72);
}

#display_frame #footer{
    width: 100%;
    height: 450px;
    align-items: center;
    justify-content: center;
}

#display_frame #footer #quote{
    width: 550px;
    height: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(92, 89, 89, 0.375);
    border-radius: 10px;
}

#display_frame #footer #quote #quote_sec{
    color: white;
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 5px;
    /* font-family: 'Dancing Script', cursive; */
}

#display_frame #footer #quote #author_sec{
    color: white;
    font-size: 15px;
    font-weight: 700;
    text-align: center;
    /* font-family: 'Open Sans', sans-serif; */
}

@keyframes und_anim{
    from{
        width: 0;
    }
    to{
        width: 60px;
    }
}