.custom-image {
    max-width: 500px;
    max-height: 500px;
  }
  
  .centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; Optional: Adjust the height as needed for your layout */
  }