/* Custom CSS for NumberedList */
.list-group {
    background-color: #ffffff; /* Set the background color */
    font-family: Arial, sans-serif; /* Change the font family */
    width: 100%;
    align-items: center;
  }
  
  .list-group-item {
    border: none; /* Remove the default border */
    color: #000000; /* Change the text color */
    padding: 10px 20px; /* Adjust the padding as needed */
    margin: 5px 0; /* Adjust the margin as needed */
    background-color: #fff; /* Set the background color for list items */
  }
  
  .list-group-item::before {
    content: counter(item); /* Add the numbered counter */
    counter-increment: item;
    font-weight: bold; /* Make the counter bold */
    margin-right: 10px; /* Adjust the space between counter and text */
    color: #000000; /* Change the counter color */
  }
  
  /* Style the odd and even list items differently */
  .list-group-item:nth-child(odd) {
    background-color: #65c5d89b; /* Background color for odd items */
  }
  
  .list-group-item:nth-child(even) {
    background-color: #11909e6d; /* Background color for even items */
  }